* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box PADDING-BOTTOM: 0;
  MARGIN: 0;
  PADDING-LEFT: 0;
  PADDING-RIGHT: 0;
  PADDING-TOP: 0
}

:focus {
  OUTLINE-STYLE: none;
  OUTLINE-COLOR: invert;
  OUTLINE-WIDTH: 0
}

:active {
  OUTLINE-STYLE: none;
  OUTLINE-COLOR: invert;
  OUTLINE-WIDTH: 0
}

BODY {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  color: #404040;
  min-height: 100%;
  overflow-x: hidden;
  background: #fff;
  margin: 0
}

A {
  COLOR: #0052d9;
  TEXT-DECORATION: none
}

A:hover {
  COLOR: #bbb
}

p {
  line-height: 32px;
  margin: 0;
  font-size: 16px;
  color: #666
}

IMG {
  BORDER-BOTTOM: 0;
  BORDER-LEFT: 0;
  BORDER-TOP: 0;
  BORDER-RIGHT: 0
}

H1 {
  MARGIN-BOTTOM: 15px;
  font-family: 'Open Sans', sans-serif;
  COLOR: #0052d9;
  FONT-WEIGHT: normal
}

H2 {
  MARGIN-BOTTOM: 2px;
  font-family: 'Open Sans', sans-serif;
  COLOR: #0052d9;
  FONT-WEIGHT: normal
}

H3 {
  MARGIN-BOTTOM: 10px;
  font-family: 'Open Sans', sans-serif;
  COLOR: #0052d9;
  FONT-WEIGHT: normal
}

H4 {
  MARGIN-BOTTOM: 10px;
  font-family: 'Open Sans', sans-serif;
  FONT-WEIGHT: normal;
  COLOR: #0052d9;
}

#wrapper {
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -o-hyphens: auto;
  word-break: break-word;
  hyphens: auto;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -490px;
  margin-top: 0;
  width: 980px;
  transform-origin: 50% 0;
  background-size: 100%;
  background-position-y: -8px
}

#logo {
  PADDING-BOTTOM: 10px;
  PADDING-LEFT: 25px;
  PADDING-RIGHT: 12px;
  PADDING-TOP: 80px
}

#logo H1 A {
  COLOR: #333
}

#logo H1 A SPAN {
  COLOR: #000
}

#content {
  MIN-HEIGHT: 500px;
  WIDTH: 980px;
  BACKGROUND: #fff;
  HEIGHT: auto!important
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

#maincontent {
  PADDING-BOTTOM: 20px;
  MARGIN: 10px 25px 30px
}

#maincontent IMG {
  BORDER-BOTTOM: #ccc 1px solid;
  BORDER-LEFT: #ccc 1px solid;
  PADDING-BOTTOM: 3px;
  MARGIN: 5px 20px 10px 0;
  PADDING-LEFT: 3px;
  PADDING-RIGHT: 3px;
  FLOAT: left;
  BORDER-TOP: #ccc 1px solid;
  BORDER-RIGHT: #ccc 1px solid;
  PADDING-TOP: 3px
}

SELECT {
  BORDER-BOTTOM: #ccc 1px solid;
  BORDER-LEFT: #ccc 1px solid;
  PADDING-BOTTOM: 7px;
  MARGIN: 0 5px 10px 0;
  PADDING-LEFT: 7px;
  WIDTH: 350px;
  PADDING-RIGHT: 7px;
  FLOAT: left;
  BORDER-TOP: #ccc 1px solid;
  BORDER-RIGHT: #ccc 1px solid;
  PADDING-TOP: 7px
}

#maincontent SELECT {
  WIDTH: 366px
}

#right {
  BORDER-LEFT: #ccc 1px solid;
  PADDING-LEFT: 36px;
  WIDTH: 260px;
  DISPLAY: inline;
  FLOAT: right;
  MARGIN-RIGHT: 25px
}

#footer {
  MARGIN: 20px 0 20px 10px;
  COLOR: #666;
  FONT-SIZE: 11px
}

.no-border {
  BORDER-BOTTOM: 0;
  BORDER-LEFT: 0;
  BORDER-TOP: 0;
  BORDER-RIGHT: 0
}

.staffitem {
  BORDER-BOTTOM: 2px solid;
  LINE-HEIGHT: 150%;
  MARGIN-TOP: 20px;
  MARGIN-BOTTOM: 0;
  FONT-SIZE: 20px;
  COLOR: #0052d9;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
}

.detail P {
  LINE-HEIGHT: 150%;
  MARGIN: 12px 0 6px
}

.group_block {
  PADDING-BOTTOM: 5px;
  MARGIN: 20px 5px 5px;
  MIN-HEIGHT: 150px
}

.group_block_a {
  FONT-SIZE: 18px
}

.part {
  TEXT-ALIGN: left;
  PADDING-BOTTOM: 0;
  FONT-STYLE: normal;
  MARGIN: 0 10pt 0 0;
  PADDING-LEFT: 8pt;
  PADDING-RIGHT: 8pt;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  COLOR: #444;
  FONT-SIZE: 8pt;
  OVERFLOW: auto;
  TEXT-DECORATION: none;
  PADDING-TOP: 0
}

details,
footer {
  display: block
}

video {
  display: inline-block
}

[hidden] {
  display: none
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

body {
  margin: 0
}

a:active,
a:hover {
  outline: 0
}

b {
  font-weight: 700
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700
}

code {
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em
}

q {
  quotes: none
}

q:after,
q:before {
  content: "";
  content: none
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  max-width: 100%
}

button,
select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline
}

button {
  line-height: normal
}

button {
  cursor: pointer;
  -webkit-appearance: button
}

button[disabled] {
  cursor: default
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td {
  vertical-align: top
}

.hidden {
  display: none!important;
  visibility: hidden
}

.relative {
  position: relative
}

@media print {
  body,
  html {
    background: 0 0!important
  }
  * {
    box-shadow: none!important;
    text-shadow: none!important;
    filter: none!important;
    -ms-filter: none!important
  }
  a,
  a:visited {
    text-decoration: underline
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""
  }
  img,
  tr {
    page-break-inside: avoid
  }
  img {
    max-width: 100%!important
  }
  @page {
    margin: .5cm
  }
  h2,
  h3,
  p {
    orphans: 3;
    widows: 3
  }
  h2,
  h3 {
    page-break-after: avoid
  }
}

.fa:before,
select {
  -webkit-font-smoothing: antialiased
}


/*!
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (font-family: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/fontawesome-webfont.eot?v=4.0.3);
  src: url(../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff?v=4.0.3) format("woff"), url(../fonts/fontawesome-webfont.ttf?v=4.0.3) format("truetype"), url(../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular) format("svg");
  font-weight: 400;
  font-style: normal
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid .08em #eee;
  border-radius: .1em
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0)
  }
  100% {
    -moz-transform: rotate(359deg)
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0)
  }
  100% {
    -webkit-transform: rotate(359deg)
  }
}

@-o-keyframes spin {
  0% {
    -o-transform: rotate(0)
  }
  100% {
    -o-transform: rotate(359deg)
  }
}

@-ms-keyframes spin {
  0% {
    -ms-transform: rotate(0)
  }
  100% {
    -ms-transform: rotate(359deg)
  }
}

@keyframes spin {
  0% {
    transform: rotate(0)
  }
  100% {
    transform: rotate(359deg)
  }
}

.fa-user:before {
  content: "\f007"
}

.fa-film:before {
  content: "\f008"
}

.fa-th:before {
  content: "\f00a"
}

.fa-file-o:before {
  content: "\f016"
}

.fa-play-circle-o:before {
  content: "\f01d"
}

.fa-tag:before {
  content: "\f02b"
}

.fa-font-family:before {
  content: "\f031"
}

.fa-bold:before {
  content: "\f032"
}

.fa-italic:before {
  content: "\f033"
}

.fa-text-height:before {
  content: "\f034"
}

.fa-text-width:before {
  content: "\f035"
}

.fa-align-left:before {
  content: "\f036"
}

.fa-align-center:before {
  content: "\f037"
}

.fa-align-right:before {
  content: "\f038"
}

.fa-align-justify:before {
  content: "\f039"
}

.fa-picture-o:before {
  content: "\f03e"
}

.fa-play:before {
  content: "\f04b"
}

.fa-info-circle:before {
  content: "\f05a"
}

.fa-retweet:before {
  content: "\f079"
}

.fa-comments:before {
  content: "\f086"
}

.fa-github:before {
  content: "\f09b"
}

.fa-group:before {
  content: "\f0c0"
}

.fa-link:before {
  content: "\f0c1"
}

.fa-copy:before {
  content: "\f0c5"
}

.fa-table:before {
  content: "\f0ce"
}

.fa-comments-o:before {
  content: "\f0e6"
}

.fa-exchange:before {
  content: "\f0ec"
}

.fa-file-text-o:before {
  content: "\f0f6"
}

.fa-circle-o:before {
  content: "\f10c"
}

.fa-circle:before {
  content: "\f111"
}

.fa-github-alt:before {
  content: "\f113"
}

.fa-code:before {
  content: "\f121"
}

.fa-info:before {
  content: "\f129"
}

.fa-html5:before {
  content: "\f13b"
}

.fa-css3:before {
  content: "\f13c"
}

.fa-play-circle:before {
  content: "\f144"
}

.fa-file:before {
  content: "\f15b"
}

.fa-file-text:before {
  content: "\f15c"
}

.fa-youtube:before {
  content: "\f167"
}

.fa-youtube-play:before {
  content: "\f16a"
}

.fa-dot-circle-o:before {
  content: "\f192"
}

.fa {
  font-family: inherit
}

.fa:before {
  font-family: FontAwesome;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  text-decoration: inherit
}

a .fa {
  display: inline-block;
  text-decoration: inherit
}

button {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  cursor: pointer;
  line-height: normal;
  -webkit-appearance: button
}

button::-moz-focus-inner {
  border: 0;
  padding: 0
}

button[disabled] {
  cursor: default
}

select {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline
}

select:focus:invalid {
  color: #e74c3c;
  border: 1px solid #e74c3c
}

select:focus:invalid:focus {
  border-color: #e74c3c
}

select {
  padding: .5em .625em;
  display: inline-block;
  border: 1px solid #ccc;
  font-size: .8em;
  box-shadow: inset 0 1px 3px #ddd;
  -webkit-transition: border .3s linear;
  -moz-transition: border .3s linear;
  transition: border .3s linear
}

select {
  border: 1px solid #ccc;
  background-color: #fff
}

select[multiple] {
  height: auto
}

select:focus {
  outline: 0
}

select[disabled],
select[readonly] {
  cursor: not-allowed;
  background-color: #fff;
  color: #cad2d3;
  border-color: transparent
}

a {
  color: #2980b9;
  text-decoration: none
}

a:hover {
  color: #3091d1
}

a:visited {
  color: #9b59b6
}

html {
  height: 100%;
  overflow-x: hidden
}

h1 {
  font-size: 200%
}

h2 {
  font-size: 150%
}

h3 {
  font-size: 125%
}

h4 {
  font-size: 115%
}

h5 {
  font-size: 110%
}

h6 {
  font-size: 100%
}

code {
  white-space: nowrap;
  max-width: 100%;
  background: #fff;
  border: solid 1px #e1e4e5;
  font-size: 75%;
  padding: 0 5px;
  font-family: Incosolata, Consolata, Monaco, monospace;
  color: #e74c3c;
  overflow-x: auto
}

div[class^=highlight] {
  border: 1px solid #e1e4e5;
  padding: 0;
  overflow-x: auto;
  background: #fff;
  margin: 1px 0 24px 0
}

div[class^=highlight] div[class^=highlight] {
  border: none;
  background: 0 0;
  margin: 0
}

div[class^=highlight] td.code {
  width: 100%
}

@media print {
  div[class^=highlight] {
    white-space: pre-wrap
  }
}

.c {
  color: #998;
  font-style: italic
}

.o {
  font-weight: 700
}

.c1 {
  color: #998;
  font-style: italic
}

.cs {
  color: #999;
  font-weight: 700;
  font-style: italic
}

.s {
  color: #d14
}

.n {
  color: #333
}

.no {
  color: teal
}

.w {
  color: #bbb
}

.s2 {
  color: #d14
}

.s1 {
  color: #d14
}

[data-menu-wrap] {
  -webkit-transition: all .2s ease-in;
  -moz-transition: all .2s ease-in;
  transition: all .2s ease-in;
  position: absolute;
  opacity: 1;
  width: 100%;
  opacity: 0
}

footer {
  color: #999
}

footer p {
  margin-bottom: 12px
}

@media screen and (max-width:768px) {
  img {
    width: 100%;
    height: auto
  }
}

span[id*=MathJax-Span] {
  color: #404040
}
